<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Main/DPSIndicator.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,241}</string>
                <key>spriteSourceSize</key>
                <string>{343,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{343,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main/HW_Platform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,225}</string>
                <key>spriteSourceSize</key>
                <string>{296,225}</string>
                <key>textureRect</key>
                <string>{{346,1},{296,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Main.png</string>
            <key>size</key>
            <string>{643,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ccbd90a96bf17c1c849c519a4d93172:7bc336eb7233d6ceccf66f94631fcd6c:71fd0f4d858c891d4b483cd3bcff30d8$</string>
            <key>textureFileName</key>
            <string>Main.png</string>
        </dict>
    </dict>
</plist>
